.footer__{
    display: block;
    position: relative;
    width: 100%;
    background-color: #ECECEC;
    margin: 0 auto;
    scroll-behavior: smooth;
}
.footer{
    display: flex;
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-left: 15%;
    padding: 20px 40px;
    float: none;
}
.footer .footer_menu{
    position: relative;
    padding: 0 30px;
    color: #666666;
    text-align: left;
}
.footer .footer_menu::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    top: 0;
    right: 0;
    background: #000;
}
.footer .footer_menu:last-child:after{
    background: none;
}
.footer .footer_menu h5{
    font-size: small;
    font-weight: 600;
    padding-bottom: 5px;
}
.footer .footer_menu p{
    text-align: left;
    font-size: x-small;
    padding: 4px 0px;
    margin: 0;
}
.footer .footer_menu a{
    color: #666666 !important;
    font-size: x-small;
}
.footer .footer_menu img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.copyrights{
    background: #666666;
    font-size: x-small;
    color: rgba(255, 255, 255, 0.746);
    padding: 10px 0;
}

@media screen and (max-width: 879px) {
    .footer{
        display: flex;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 750px) {
    .footer__{
       
        margin: 0;
    }
    .footer{
        padding: 20px 0;
        margin-left: 0%;
    }
    .footer .footer_menu{
        padding: 0 10px;
    }
    .footer .footer_menu img:last-child{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .footer .footer_menu h5{
        font-size: 10px;
        font-weight: 600;
        padding-bottom: 5px;
    }
    .footer .footer_menu p{
        text-align: left;
        font-size: 8px;
        padding: 4px 0px;
        margin: 0;
    }
    .footer .footer_menu a{
        color: #666666 !important;
        font-size: 8px;
    }
    .footer .footer_menu img{
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 450px) {
    .footer .footer_menu img{
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
}